{% extends 'base.html.twig' %} {% block body %}

<section class="movies">
  {% for movie in movies %}
  <article>
    <h2>{{ movie.title }} </h2>
    <div class="metadata">
      Sorti le {{ movie.release_date | date('d/m/y') }} dans la catégorie Erotique
    </div>
    <div class="content">
      <img src="{{ movie.image }}" alt="" />
      <h5 class="synopsisTitle">Synopsis</h5>
      <p>
        {{ movie.overview }}
      </p>
      <p>{{ movie.id }}</p>
      <a href="{{ path('showmovie', {'id': movie.id}) }}" class="btn btn-primary">Lire la suite</a>
      <a href="{{ path('addtomylist', {'movie_id': movie.id})}}" class="btn btn-success">Add to MyList</a>
    </div>
  </article>
  {% endfor %}
</section>
{% endblock %}