{% extends 'base.html.twig' %} {% block body %}

<section class="movie">
  <h2> {{ movies.title }} </h2>
  <div class="metadata">
    Sorti le {{ movies.releaseAt | date('d/m/y') }} à {{movies.releaseAt | date('H:i') }} dans la catégorie Erotique
  </div>
  <div class="movieContent">
    <img src="{{ movies.image }}" alt="" />
    <h5 class="synopsisTitle">Synopsis</h5>
    <p>
      {{ movies.synopsis }}
    </p>
  </div>
</section>
{% endblock %}